.readable {
  .posts {
    &__hdr {
      margin: 20px 0 0 20px;
    }
    &__list {
      &--item {
        &.no-posts {
          margin: 20px;
        }
      }
    }
    &__controls {
      margin: 20px 0 0 20px;
    }
  }
  .post {
    padding: 20px;
    border-bottom: 1px solid $color-grey;
    &__label {
      font-size: 8px;
      margin-right: 12px;
      color: $color-grey;
    }
    &__body,
    &__info,
    &__controls,
    &__vote {
      margin-top: 12px;
    }
    &__info {
      &--date,
      &--author {
        margin-right: 12px;
      }
    }
    &__controls {
      &--link {
        margin-right: 10px;
      }
    }
  }
}