* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Roboto", sans-serif; }

li {
  list-style-type: none; }

.readable .header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
  text-align: center;
  line-height: 56px; }
  .readable .header__hdr--link {
    color: #fff;
    text-decoration: none; }

.readable .nav {
  padding: 26px 20px 20px;
  line-height: 0;
  border-bottom: 1px solid #ccc; }
  .readable .nav__list--item {
    display: inline-block;
    margin: 0 16px 8px 0; }

.readable .posts__hdr {
  margin: 20px 0 0 20px; }

.readable .posts__list--item.no-posts {
  margin: 20px; }

.readable .posts__controls {
  margin: 20px 0 0 20px; }

.readable .post {
  padding: 20px;
  border-bottom: 1px solid #ccc; }
  .readable .post__label {
    font-size: 8px;
    margin-right: 12px;
    color: #ccc; }
  .readable .post__body, .readable .post__info, .readable .post__controls, .readable .post__vote {
    margin-top: 12px; }
  .readable .post__info--date {
    margin-right: 12px; }
  .readable .post__controls--link {
    margin-right: 10px; }

.readable .comments {
  padding: 20px;
  border-bottom: 1px solid #ccc; }
  .readable .comments__hdr {
    margin-bottom: 12px; }
  .readable .comments__list--item {
    margin-top: 12px; }
  .readable .comments__actions {
    padding: 20px 0 0; }
  .readable .comments .comment {
    display: inline-block;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px; }
    .readable .comments .comment__label {
      font-size: 8px;
      margin-right: 12px;
      color: #ccc; }
    .readable .comments .comment__info, .readable .comments .comment__actions, .readable .comments .comment__vote {
      margin-top: 12px; }
    .readable .comments .comment__actions--item {
      margin-right: 12px; }

.readable .form {
  padding: 0 20px; }

.readable .page-not-found {
  padding: 40px 0;
  text-align: center; }
  .readable .page-not-found__copy {
    padding: 0 0 12px; }

.readable .voteScore {
  display: inline-block;
  font-size: 12px; }
  .readable .voteScore__txt {
    margin: 0 12px;
    vertical-align: middle; }
